:root {
  --black: #000000;
  --white: #ffffff;
  --light-blue: #44B5FC;
  --midnight-blue: #191970;
  --limegreen: #1aff1a;
  --nav-bar-color: var(--light-blue);
  --nav-bar-hr-color: #049cfb;

  --border-radius: 10px;

  /* Light mode */
  --border-light: 3px solid var(--black);

  /* Dark mode */
  --border-dark: 3px solid var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 40px;
  text-align: center;
  background: rgb(68, 181, 252);
  color: var(--white);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nav-bar-color);
}

nav a {
  color: var(--white);
  text-decoration: none;
  padding: 15px 20px;
  font-size: 25px;
}

nav a:hover {
  background-color: var(--limegreen);
  color: var(--black);
}

nav hr {
  background-color: var(--white);
  border: 1px solid var(--nav-bar-hr-color);
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2, footer {
  text-align: center;
  background-color:  var(--midnight-blue);
  color: var(--white);
  padding: 10px;
}

section header {
  background-color: var(--light-blue);
  padding: 10px;
}

footer {
  display: flex;
  padding: 0;
  width: 100%; /* Make footer full width */
  justify-content: space-evenly;
}

footer a {
  color: var(--white);
  padding: 15px 20px;
  font-size: 20px;
  height: 100%;
}

/* Keep image sizes reasonable */
footer img {
  padding: 0;
  margin: 0;
  width: 25%;
  height: 25%;
  object-fit: contain;
}

footer .email {
  width: 70%;
  height: 70%;
}

.hero-image {
  height: 400px;
  background-image: url("../images/pexels-pixabay-355887.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}


.hero-image .selfie {
  border-radius: 100%;
  height: 175px;
  width: 175px;
  object-fit: cover;
  object-position: 50% 50%; /* centers image within constraints */
}

.description {
  margin: 3%;
  font-size: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  margin-top: 1%;
  justify-content: center;
}

.card {
  border: var(--border-light);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 10px;
  margin: 10px;
  flex: 0 1 50%;
}

.card header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card h3 {
  font-size: 25px;
}

.card p {
  font-size: 20px;
}

.card:first-child {
  flex: 0 0 90%;
}

.card a {
  text-decoration: none; /* Remove underline from clickable link */
}

.card .image-container {
  width: 100%; /* Allows image background to be clickable too */
}

.card img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

/* Accommodate for bigger screens */
@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav hr {
    display: none; /* Make none to prevent weird spacing in nav */
  }

  .hero-image .selfie {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: 50% 50%; /* centers image within constraints */
    margin-bottom: 15px; /* increase space before the .hero-text style */
  }

  .card {
    border: 3px solid var(--black);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 0 1 400px;
    max-width: 40%;
  }

  .card:first-child {
    flex: 0 0 100%;
    min-width: 80%;
  }

  .card h3 {
    font-size: 30px;
  }

  .card p {
    font-size: 30px;
  }
}

/* Dark Theme only allowed on mobile (for now)*/
@media screen and (max-width: 768px) and (prefers-color-scheme: dark) {
  body {
    background-color: var(--black);
  }

  p {
    color: var(--white);  
  }
  
  .card {
    border: var(--border-dark);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 0 1 80%;
  }

  .card header {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}