* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
}

header {
  display: flex;
  background-color: rgb(68, 181, 252);
  padding: 10px;
  justify-content: space-between; /* separates h1 and nav evenly from each other */
}

header h1 {
  background-color: orange;
  color: white;
  padding: 25px 15px 25px 50px;
  margin-left: -20px;
}

nav {
  display: flex;
}

nav ul {
  display: flex; /* Works like inline */
  margin: 10px;
  list-style: none;
}

nav li {
  padding: 10px;
  margin: 10px;
}

nav a {
  color: white;
  font-size: 25px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
}